In [2]:
import pandas as pd
import scipy.stats as stats
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
ttestdf = pd.read_excel('wine_data_all.xlsx')
ttestdf.head()

In [4]:
primeurstrue_df = ttestdf.loc[ttestdf['is_primeurs'] == True]
primeurstrue_df.head()
primeurstrue_mean = primeurstrue_df.score.mean()
print(primeurstrue_mean)

89.42700650759231

In [5]:
primeursfalse_df = ttestdf.loc[ttestdf['is_primeurs'] == False]
primeursfalse_df.head()
primeursfalse_mean = primeursfalse_df.score.mean()
print(primeursfalse_mean)

90.17438066776555

In [6]:
stats.ttest_ind(primeurstrue_df.score, primeursfalse_df.score, equal_var=False)
# Since our p-value is less than 0.05, our Null Hypothese is false (reject that sh**). There is statistical differencce.

Ttest_indResult(statistic=-12.250213679089912, pvalue=1.7691379862333562e-33)

In [7]:
print(ttestdf.country.unique())
#Find if there is statistical significance between certain countries

['Italy' 'France' 'Chile' 'Australia' 'New Zealand' 'Usa' 'Argentina'
 'Germany' 'South Africa' 'Lebanon' 'Spain' 'Sicily' 'China']

In [10]:

false_country_count = primeursfalse_df.groupby("country").count()
false_country_count.head(13)

,Unnamed: 0,appellation,appellation_slug,classification,color,confidence_index,date,is_primeurs,journalist_count,lwin,lwin_11,regions,score,vintage,wine,wine_id,wine_slug,wine_type
country,,,,,,,,,,,,,,,,,,
Argentina,521,521,521,0,521,521,521,521,521,135,135,521,521,521,521,521,521,68
Australia,772,772,772,0,772,772,772,772,772,420,420,772,772,772,772,772,772,161
Chile,245,245,245,0,245,245,245,245,245,117,117,245,245,245,245,245,245,12
China,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,0
France,20454,20454,20454,6213,20454,20454,20454,20454,20454,12725,12725,20454,20454,20454,20454,20454,20454,3206
Germany,2,2,2,0,2,2,2,2,2,0,0,2,2,2,2,2,2,0
Italy,1605,1605,1605,0,1605,1605,1605,1605,1605,1250,1250,1605,1605,1605,1605,1605,1605,30
Lebanon,2,2,2,0,2,2,2,2,2,2,2,2,2,2,2,2,2,0
New Zealand,412,412,412,0,412,412,412,412,412,60,60,412,412,412,412,412,412,166
Sicily,33,33,33,0,33,33,33,33,33,0,0,33,33,33,33,33,33,0
South Africa,91,91,91,0,91,91,91,91,91,19,19,91,91,91,91,91,91,9
Spain,210,210,210,0,210,210,210,210,210,136,136,210,210,210,210,210,210,9
Usa,4764,4764,4764,0,4764,4764,4764,4764,4764,935,935,4764,4764,4764,4764,4764,4764,763